$main-font: 'PT Sans', sans-serif;;
$secondary-font: "Proxima Nova", sans-serif;
$font-color: #665f60;
$second-color: #fff;
$hover-color: #7d7a7c;
$font-size: 18px;
$font-height: 1; //line-height
$font-weight: 400;
$color-bg: #ebebeb;
$light-purple:#9f9acf;
